# OS
.DS_Store

# Laravel
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
composer.lock
public/css/*.css
public/js/*.js
public/img/*
public/svg/*.svg

# Sublime Text
*.sublime-project
*.sublime-workspace

# Bower and npm
bower_components
node_modules
