# OS
.DS_Store

# Laravel
/vendor
/node_modules
Homestead.yaml
.vagrant
.env

# Bower
bower_components

# Compiled
*.map
/public/css/**/*.css
/public/js/**/*.js
/public/svg/**/*.svg
/public/img
/public/build

# Sprites
/resources/assets/img/sprite.png
/resources/assets/img/sprite-2x.png

# Lazy Strings
/resources/lang/*/app.php
/storage/lazy-strings/*.json

# Sublime Text
*.sublime-project
*.sublime-workspace
