# OS
.DS_Store

# Laravel
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
composer.lock
public/css/*.css
public/js/*.js
public/img/*
public/svg/*.svg

# Lazy Strings
/resources/lang/en/app.php
/resources/lang/es/app.php
/resources/lang/pt/app.php
/storage/lazy-strings/*.json

# Sublime Text
*.sublime-project
*.sublime-workspace

# Bower and npm
bower_components
node_modules

# Gulp
build
